<!DOCTYPE html>
<html lang="jp">
<head>
<mata charset="utf-8">
<title>heroku_app|home</title>
</head>
<body>
<h1><a href='/lose'>loseページへのリンク</a></h1>
<h1><a href='/win'>winページへのリンク</a></h1>
<h1><a href='http://ie.u-ryukyu.ac.jp'>琉球大学IEリンク</a></h1>
</body>
</html>
